* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul { list-style: none }
.flex-col {
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  color: #212121;
  font-family: Helvetica, sans-serif;
}

header {
  z-index: 100;
  background-color: dodgerblue;
  color: white;
  padding: .5em 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#chat-main-ui {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#chat-user-list {
  padding: 1em;
  background-color: salmon;
  width: 12rem;
}

#chat-messages {
  flex: 1;
  background-color: #fff;
}

#message-list {
  list-style: none;
  padding: 1em 1.25em .5em;
  flex: 1 1 auto;
  overflow-y: scroll;
}

#chat-input {
  display: flex;
  flex: 0 0 auto;
  padding: 0 1em .8em;
}

input {
  font-size: 1rem;
  padding: .5em 1em;
  border: 2px solid #bbb;
}
input:focus {
  outline: none;
}
input[type="text"] {
  flex: 1;
  border-right: 0;
  border-radius: .25em 0 0 .25em;
}
input[type="submit"] {
  border-radius: 0 .25em .25em 0;
  background-color: #ddd;
  transition: all .1s ease-in;
}
input[type="submit"]:hover {
  border-color: dodgerblue;
  cursor: pointer;
  color: #fff;
  background-color: dodgerblue;
}
